* {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  color: rgb(227, 218, 218);
  max-width: 100%;
}
body {
  background-color: #444444;
}
.not-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-user-drag: none;
}