*{
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-size: 17px;
    color: rgb(220, 210, 210);
    background-color: #181818;
}
#container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}
#nav-links{
    display: flex;
}
#nav-links a{
    padding: 0px 10px;
}
@media screen and (min-width: 550px){
    #ham-menu{
        display: none;
    }
} 
@media screen and (max-width: 550px){
    #nav-links{
        display: none;
    }
} 
#ham-menu{
    cursor: pointer;
}
.line{
    background-color: white;
    width: 23px;
    height: 2px;
    margin: 5px 15px;
}