#title{
  color: #d1caca;
  font-weight: bold;
}
#second-title{
  font-size: 1.3rem;
}
.paragraph{
  font-size: 1.3rem;
}
.small-title{
  font-size: 1.4rem;
  color: #e9e7e7;
  font-weight: bold;
}
.date{
  font-size: 1.2rem;
  color: #eee9e9;
}
.description{
  font-size: 1.2rem;
}
/*phone*/
@media screen and (min-width: 0px) and (max-width: 601px) {
  #title{
    font-size: 1.5rem;
  }
}
/*tablets*/
@media screen and (min-width: 601px) and (max-width: 1000px){
  #title{
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px){
  #title{
    font-size: 3rem;
  }
  .paragraph{
    font-size: 1.4rem;
  }
}